$general-color: #00af4c;
$general-color-hover: #37b5cb;

$button-color: $general-color;
$button-color-hover: $general-color-hover;

$text-color: #444;
$link-color: $general-color;
$link-color-hover: $general-color-hover;
